@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: 70vh;
}

header .menu {
  display: none;
}

header h3 {
  color: white;
  font-size: 1.5em;
  z-index: 1;
  position: relative;
  top: 2em;
  margin-left: 2em;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7em;
}

header .navbar ul li {
  font-family: 'Spartan', sans-serif;
  list-style: none;
  padding: 1em;
  font-size: 0.8em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  margin-top: 1.3em;
  margin-left: 1.2em;
  cursor: pointer;
}

header .navbar ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.caroussel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caroussel__image {
  width: 50%;
  -webkit-transform: translateY(-6em);
          transform: translateY(-6em);
}

.caroussel__image img {
  max-width: 100%;
  height: 517px;
  -webkit-box-sizing: cover;
          box-sizing: cover;
  display: none;
}

.caroussel__image .visible {
  display: block;
}

.caroussel__image--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 84.5%;
  left: 110.95%;
}

.caroussel__image--icon i {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  width: 3em;
  height: 3em;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  -webkit-transform: translate(-5em, 1em);
          transform: translate(-5em, 1em);
  cursor: pointer;
}

.caroussel__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 2em;
  font-family: 'Spartan', sans-serif;
}

.caroussel__text--one, .caroussel__text--two, .caroussel__text--three {
  max-width: 100%;
  margin: 0 5em;
  display: none;
}

.caroussel__text--one h2, .caroussel__text--two h2, .caroussel__text--three h2 {
  font-weight: 700;
  font-size: 2em;
  padding: 1em 0;
}

.caroussel__text--one p, .caroussel__text--two p, .caroussel__text--three p {
  padding: 1em 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.caroussel__text--one h3, .caroussel__text--two h3, .caroussel__text--three h3 {
  padding: 1em 0;
  letter-spacing: 5px;
}

.caroussel__text .see {
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-6em);
          transform: translateY(-6em);
  font-family: 'Spartan', sans-serif;
}

footer .secondPart {
  margin: 5em 2em;
}

footer .secondPart h4 {
  letter-spacing: 3px;
  font-size: 0.8em;
}

footer .secondPart p {
  font-size: 0.8em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 378px) {
  header .menu {
    display: block;
    /*i{
                width: 5em;
                z-index: 1;
            }*/
  }
  header .menu .fa-bars, header .menu .fa-times {
    font-size: 2em;
    position: relative;
    top: 0em;
    left: 0em;
    z-index: 1;
  }
  header .navbar {
    position: relative;
    left: -300%;
    background: #ac0;
    z-index: 1;
    -webkit-transform: translateY(-5em);
            transform: translateY(-5em);
  }
  header .navbar ul {
    display: block;
    /*li{
                    font-family: 'Spartan', sans-serif;
                    list-style: none;
                    padding: 1em;
                    font-size: 0.8em;
                    font-weight: 700;
                    color: rgba(255,255,255,0.8);
                    z-index: 1;
                    margin-top: 1.3em;
                    margin-left: 1.2em;
                    cursor: pointer;
    
                    &:hover{
                        border-bottom: 3px solid rgba(255,255,255,0.8);
                    }
                }*/
  }
  .caroussel {
    display: block;
    -webkit-transform: translateY(-12.5em);
            transform: translateY(-12.5em);
  }
  .caroussel__image {
    width: 100%;
  }
  .caroussel__image img {
    max-width: 100%;
    height: auto;
  }
  .caroussel__image .visible {
    display: block;
  }
  .caroussel__image--icon {
    border: 2px solid #ac0;
  }
  .caroussel__image--icon i {
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    width: 3em;
    height: 3em;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    -webkit-transform: translate(-5em, 1em);
            transform: translate(-5em, 1em);
    cursor: pointer;
    border: 2px solid #fa0;
  }
  .caroussel__text {
    width: 100%;
    margin: 2em 0;
    -webkit-transform: translateY(-5em);
            transform: translateY(-5em);
    /*h2{
                    font-weight: 700;
                    font-size: 2em;
                    padding: 1em 0;
                }*/
    /* p{
                    padding: 1em 0;
                    color: rgba(0,0,0,0.5);
                    font-size: 0.7em;
                    font-weight: 700;
                    color: rgba(0,0,0,0.5);
                }*/
    /*h3{
                    padding: 1em 0;
                    letter-spacing: 5px;
                }*/
    /*.see{
                display: block;
            }*/
  }
  footer {
    display: block;
  }
  footer img {
    width: 100%;
    height: 375px;
  }
  footer .secondPart {
    margin: 2em;
    /*h4{
                letter-spacing: 3px;
                font-size: 0.8em;
            }
    
                p{
                    font-size: 0.8em;
                    font-weight: 700;
                    color: rgba(0,0,0,0.5);
                }*/
  }
}

.trans {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 3s;
  transition: 3s;
}
/*# sourceMappingURL=style.css.map */